.card-custom {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: max-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
  background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);
  padding-left: auto;
}

.custom-card-body {
  overflow-y: auto;
  overflow-x: none;
  max-height: 24rem;
}

.custom-card-footer {
  margin: 0.5rem;
  max-height: 16rem;
  min-height: max-content;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 2px;
}
